---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "configmirror-operator.fullname" . }}
  labels:
    {{- include "configmirror-operator.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - events
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - configmaps/finalizers
  verbs:
  - update
- apiGroups:
  - ""
  resources:
  - configmaps/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - bennsimon.github.io
  resources:
  - configmirrors
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - bennsimon.github.io
  resources:
  - configmirrors/finalizers
  verbs:
  - update
- apiGroups:
  - bennsimon.github.io
  resources:
  - configmirrors/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
    - coordination.k8s.io
  resources:
    - leases
  verbs:
    - create
    - get
    - list
    - patch
    - update
    - watch
